<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Windows.Common" version="1.0.28" targetFramework="net461" />
  <package id="Dapplo.Windows.Shell32" version="1.0.28" targetFramework="net461" />
  <package id="DiscUtils" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.BootConfig" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Btrfs" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Core" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Dmg" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Ext" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Fat" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.HfsPlus" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Iscsi" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Iso9660" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Lvm" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Net" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Nfs" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Ntfs" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.OpticalDiscSharing" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.OpticalDisk" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Registry" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Sdi" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.SquashFs" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Streams" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Swap" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Udf" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Vdi" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Vhd" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Vhdx" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Vmdk" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Wim" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Xfs" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Xva" version="0.16.13" targetFramework="net461" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net461" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net461" />
  <package id="lz4net" version="1.0.15.93" targetFramework="net461" />
  <package id="lzfse-net" version="1.0.15" targetFramework="net461" />
  <package id="LZMA-SDK" version="22.1.1" targetFramework="net461" />
  <package id="lzo.net" version="0.0.6" targetFramework="net461" />
  <package id="MSFTCompressionCab" version="1.0.0" targetFramework="net461" />
  <package id="PInvoke.Kernel32" version="0.7.124" targetFramework="net461" />
  <package id="PInvoke.Shell32" version="0.7.124" targetFramework="net461" />
  <package id="PInvoke.Windows.Core" version="0.7.124" targetFramework="net461" />
  <package id="SevenZip" version="19.0.0" targetFramework="net461" />
  <package id="SevenZipExtractor" version="1.0.17" targetFramework="net461" />
  <package id="SevenZipSharp.Net45" version="1.0.19" targetFramework="net461" />
  <package id="SharpCompress" version="0.33.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Vanara.Core" version="3.4.15" targetFramework="net461" />
  <package id="Vanara.PInvoke.ComCtl32" version="3.4.15" targetFramework="net461" />
  <package id="Vanara.PInvoke.Cryptography" version="3.4.15" targetFramework="net461" />
  <package id="Vanara.PInvoke.Gdi32" version="3.4.15" targetFramework="net461" />
  <package id="Vanara.PInvoke.Kernel32" version="3.4.15" targetFramework="net461" />
  <package id="Vanara.PInvoke.Ole" version="3.4.15" targetFramework="net461" />
  <package id="Vanara.PInvoke.Rpc" version="3.4.15" targetFramework="net461" />
  <package id="Vanara.PInvoke.Security" version="3.4.15" targetFramework="net461" />
  <package id="Vanara.PInvoke.Shared" version="3.4.15" targetFramework="net461" />
  <package id="Vanara.PInvoke.Shell32" version="3.4.15" targetFramework="net461" />
  <package id="Vanara.PInvoke.ShlwApi" version="3.4.15" targetFramework="net461" />
  <package id="Vanara.PInvoke.User32" version="3.4.15" targetFramework="net461" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net461" />
</packages>